<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1">HomeBase</span>
  <div class="justify-content-left d-flex">
    <a class="nav-link" href="/homepage">Homepage</a>
    <button class="navbar-item btn mx-2 btn-outline-secondary" id="logout">Logout</button>
  </div>
</nav>
<main class="container">
  <section class="row my-4">
    <h3 class="col-md group-text">Group Name: <span class="group-info">{{groups.group_name}}</span></h3>
    <h3 class="col-md group-text">Address: <span class="group-info">{{groups.address}}</span></h3>
    <h3 class="col-md group-text">Group Id: <span class="group-info">{{groups.id}}</span></h3>
    <button type="button" class="btn btn-info btn-block" id="delete-btn">Delete Base</button>
  </section>
  <section class="row">
    <!-- Grocery container begins !-->
    <div class="col-md">
      <form id="grocery-form">
        <h3 class="text-center"><i class="fa-sharp fa-solid fa-basket-shopping"></i> Groceries</h3>
        <div class="form-group">
          <input type="text" class="form-control" id="grocery-name" placeholder="Grocery Name" />
        </div>
        <button type="submit" id="add-grocery" class="btn btn-success btn-block">
          Add
        </button>
      </form>

      <div class="list-container mt-2">
        <h6 id="grocery-heading">This week we need...</h6>
        <div class="card">
          <ul class="list-group" id="saved-groceries">
            {{#each groceries as |grocery|}}
            <li class="list-group-item">{{grocery_name}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
    <!-- Bill container begins !-->
    <div class="content-area col-md">
      <h3 class="text-center"><i class="fa-sharp fa-solid fa-file-invoice-dollar"></i> Bills</h3>
      <form id="billForm" class="form-group">
        <input type="text" placeholder="Company Name" class="form-control" id="companyName">
        <input type="text" placeholder="Amount Due" class="form-control" id="amountDue">
        <input type="text" placeholder="Due Date mm/dd/yy" class="form-control" id="dueDate">
        <button class="btn btn-success btn-block" type="submit" id="submitBill">Add</button>
      </form>

      <div class="list-container mt-2">
        <div class="card">
          {{#each bills as |bill|}}
          <ul class="list-group" id="billList">
            <li data-id="{{id}}" id="billItem" class="list-group-item">{{company}} ${{amount_due}} {{due_date}}
              <button class="btn btn-danger" id={{id}} type="button">Delete
                {{!-- <i id="delete-bill" class="delete-icon fa-solid fa-trash"></i> --}}
              </button>
            </li>
          </ul>
          {{/each}}
        </div>
      </div>
    </div>
    <!-- Chores container begins !-->
    <div class="col-md">
      <i id="deleteBill" class="delete-icon glyphicon glyphicon-trash"></i>
      <h3 class="text-center"><i class="fa-solid fa-broom"></i>Chores</h3>
      <button type="button" id="spin_button" class="btn btn-success btn-block" onclick="theWheel.startAnimation();">
        Spin
      </button>
      <div id="canvasContainer">
        <canvas id="canvas" width="400" height="400"> Your browser does not support the canvas tag. </canvas>
      </div>
      <script>let theWheel = new Winwheel({
          'outerRadius': 110,
          'centerX': 200,
          'centerY': 201,
          'numSegments': 6,
          'textFontFamily': 'Lucida',
          'segments':
            [
              { 'fillStyle': '#e3f1e2', 'text': 'Sweep' },
              { 'fillStyle': '#6BBC83', 'text': 'Laundry' },
              { 'fillStyle': '#D2DCD3', 'text': 'Lawncare' },
              { 'fillStyle': '#91BFBC', 'text': 'Bathroom' },
              { 'fillStyle': '#badabf', 'text': 'Groceries' },
              { 'fillStyle': '#41635E', 'text': 'Dishes' },
            ],
          'animation':                   // Note animation properties passed in constructor parameters.
          {
            'type': 'spinToStop',  // Type of animation.
            'duration': 5,             // How long the animation is to take in seconds.
            'spins': 8              // The number of complete 360 degree rotations the wheel is to do.
          }
        });
      </script>
    </div>
  </section>
</main>

<script src="/javascript/grocery.js"></script>
<script src="/javascript/bill.js"></script>
<script src="/javascript/logout.js"></script>